{% extends 'core/base.html'%}

{%block title%}MY TEST{%endblock%}

{% block content %}
<html>
<head>
	<title>Мой одностраничный сайт</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">

<h1>Доступные тесты</h1>
<ul>
  {% for test in tests %}
    <li><a href="{% url 'infa' test.id %}">{{ test.title }}</a></li>
  {% empty %}
    <li>No tests available.</li>
  {% endfor %}
</ul>
{%endblock%}