{% extends 'core/base.html'%}

{%block title%}BAlDR CRM{%endblock%}

{% block content %}
<div class="py-4 px-6">

    <!DOCTYPE html>
<html>
<!-- служебная часть -->

<head>
  <!-- заголовок страницы -->
  <title>Михаил Максимов — преподаватель информатики</title>
  <!-- настраиваем служебную информацию для браузеров -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- загружаем Бутстрап -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">
    img {
      max-width: 100%;
      max-height: 100%;
    }

    h1 {
      font-size: 50px;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    h2 {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>MY TEST</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Мы - команда энтузиастов, разработавшая это приложение с целью помочь студентам повысить свои знания и достичь успеха в учебе.
             Мы верим, что образование является ключом к будущему, и стремимся предоставить инструменты, которые помогут студентам максимально эффективно использовать свое время и достигать своих учебных целей.


            </p>
        <p>Мы постоянно работаем над улучшением нашего приложения, добавляя новые функции и обновления, чтобы предоставить вам лучший опыт использования. Мы также ценим ваше мнение и всегда готовы услышать ваши предложения и отзывы, чтобы сделать наше приложение еще лучше.

            Спасибо, что выбрали наше приложение для тестирования студентов! Мы надеемся, что оно поможет вам достичь высоких результатов в учебе и превзойти свои ожидания. Удачи в ваших учебных занятиях!</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="https://sun9-16.userapi.com/impg/0DxWNKedB9ARlEs6tfPW3Nhz0P7dvjck99Hsdg/jyUwZoGe4ok.jpg?size=758x214&quality=95&sign=b21571aba68f0551ce29147bce9baeb6&type=album">
      </div>
    </div>
  </div>
  

</html>
</div>
{% endblock %}
