<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>

        <title>{%block title%}{%endblock%}</title>
    </head>
    <body>
        <nav class="py-7 px-6 flex justify-between bg-gray-700">
            <a href="/" class="text-white">MY TEST </a>

            <div class="space-x-4">
            <a href="/" class="text-white">О нас </a>
            {% if request.user.is_authenticated %}

            {% else %}
                <a href="{% url 'login' %}" class="py-2 px-4 bg-blue-400 rounded-xl text-white">Вайти</a>
                <a href="{% url 'signup' %}" class="py-2 px-4 bg-white rounded-xl text-black">Регистрация</a>
            {% endif %}
            </div>
        </nav>

        {% if messages %}
            <div class="py-6 px-6">
                {% for message in messages %}
                    <div class="py-4 px-4 bg-gray-200 rounded-xl">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}

        <footer class="py-7 text-center bg-gray-200">
            <p class="text-xs text-gray-700">© BALDR CRM, 2023 г. Все права защищены.</p>
        </footer>

</body>
</html>


  